[Bb]in/
[Oo]bj/
.cr/
[Ww]orking*/
Build/runbuild.txt
Build/rundocs.txt
TestResults/
TestResult.xml
packages/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
_api/
_site/
*.orig
Docs/api/.manifest
Docs/api/*.yml
.vscode/
*.GhostDoc.xml
