[Bb]in/
[Oo]bj/
.cr/
[Ww]orking*/
Build/Ouput/*
Build/Output
Build/Tools
runbuild.txt
TestResults/
TestResult.xml
packages/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
_api/
_site/
*.orig
Docs/api/.manifest
Docs/api/*.yml
.vscode/
*.GhostDoc.xml
.vs/*
*.lock.*
.DS_Store

