[Bb]in
[Dd]ebug*/
[Rr]elease*/
numl.repl/*
packages/*
TestResults/*
Working/*
.vs/*
*.suo
*.user
*.userprefs
*.orig
*.dat
[Tt]humbs.db
obj/
*.lock.json
*.nuget.props
*.nuget.targets
Build/runbuild.txt