# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.8.{build}       # You can use {branch} to, for example

# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}

# branches to build
branches:
  # whitelist
  only:
  - master

# Do not build on tags (GitHub only)
skip_tags: true

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# enable patching of AssemblyInfo.* files
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal

#---------------------------------#
#       tests configuration       #
#---------------------------------#
test:
  assemblies: numl.Tests.dll

#---------------------------------#
#     deployment configuration    #
#---------------------------------#
deploy:
  provider: NuGet
  api_key:
    secure: ifMomHPMwOG0h4iRpfI9AbX5exMCQVJNGPrgMnefaD/QzcHBstXSzfhjPZKW0Cje
  skip_symbols: false
  on:
    branch: master
  artifact: /.*\.nupkg/

#---------------------------------#
#         notifications           #
#---------------------------------#
notifications:
- provider: Email
  to:
  - me@sethjuarez.com
  on_build_success: false
  on_build_failure: false
  on_build_status_changed: false